<div class="breadcrumb">
  <div class="bread">
    <div class="content_wrapper">
      <div class="bread__inner flex">
        <div class="bread__home">
          <a href="<%= path(); %>">TOP</a>
        </div>
        <div class="bread__list">
          <ul class="bread__crumb flex">
          <%_if (pageDateIndex === 8) { _%>
            <li>
              <a href="<%= path(); %>works/">施工実績</a>
            </li>
            <%_ } _%>
            <li class="current">
              <%= jsonData.pageDate[pageDateIndex].name %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /bread -->