<%
	path = function(fileName) {
		var depth = filename.replace(/\\/g, '/').split('src/ejs')[1].split('/').length - 2;
		var path = depth > 0 ? '../'.repeat(depth) : './';
		if ( fileName !== undefined ) {
			path += fileName;
		}
		return path;
	};
-%>