<!-- ========= footer ========= -->
<footer class="footer">
  <div class="footer__info">
    <div class="content_wrapper">
      <a href="<%= path(); %>"><img src="<%= path(); %>assets/images/common/logo.png" class="mb30"
          alt="会社名 LOGO"></a>
      <p>
        〒111-1111 東京都住所住所123-1
        <br>TEL：<span class="tel_link">03-1234-5678</span>
      </p>

      <div class="footer__info-pagetop">
        <img src="<%= path(); %>assets/images/common/pagetop.svg" id="js-pagetop" alt="pagetop">
      </div>
    </div>
  </div>

  <div class="footer__nav">
    <div class="content_wrapper">
      <ul class="footer__nav-list mb70 flex">
        <li class="item"><a href="#">ホーム</a></li>
        <li class="item"><a href="#">メニュー0</a></li>
        <li class="item"><a href="#">メニュー1</a></li>
        <li class="item"><a href="#">メニュー2</a></li>
        <li class="item"><a href="#">メニュー3</a></li>
        <li class="item"><a href="#">メニュー4</a></li>
        <li class="item"><a href="#">メニュー5</a></li>
        <li class="item"><a href="#">メニュー6</a></li>
      </ul>

      <p class="copyright">&copy; 2021 company name.</p>
    </div>
  </div>

</footer>
<!-- ========= / footer END ========= -->





<!-- ========= JS ========= -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<%_if (pageDateIndex === 0) { _%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"
  integrity="sha512-p55Bpm5gf7tvTsmkwyszUe4oVMwxJMoff7Jq3J/oHaBk+tNQvDKNz9/gLxn9vyCjgd6SAoqLnL13fnuZzCYAUA=="
  crossorigin="anonymous"></script>
<%_ } _%>
<%_if (pageDateIndex === 6) { _%>
<script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
<%_ } _%>
<script src="<%= path(); %>assets/js/module.js"></script>

</body>

</html>