

<!-- ========= header ========= -->
<header class="header">
	<div class="header__inner flex">
		<h1>H1テキスト</h1>

			<div class="header__logo">
				<a href="<%= path(); %>"><img src="<%= path(); %>assets/images/common/logo.png" alt="会社名 LOGO"></a>
			</div>

			<nav class="header__gnav flex">
				<ul class="header__gnav-list flex ai-cen">
					<li class="header__gnav-list--item"><a href="<%= path(); %>">メニュー1</a></li>
					<li class="header__gnav-list--item"><a href="<%= path(); %>">メニュー2</a></li>
					<li class="header__gnav-list--item"><a href="<%= path(); %>">メニュー3</a></li>
					<li class="header__gnav-list--item"><a href="<%= path(); %>">メニュー4</a></li>
					<li class="header__gnav-list--item"><a href="<%= path(); %>">メニュー5</a></li>
					<li class="header__gnav-list--item is-contact">
						<p class="tel">
							<i class="icon"><img src="<%= path(); %>assets/images/common/icon_tel.png" alt="TEL icon"></i><span class="tel_link">03-1234-5678</span>
						</p>
						<p class="mail btn-02">
							<a href="<%= path(); %>">お問い合わせ</a>
						</p>
					</li>
				</ul>
			</nav>

			<div class="header__sptrigger">
				<div class="header__sptrigger-telbtn">
					<p class="is-tablet"><i class="icon"><img src="<%= path(); %>assets/images/common/icon_tel.png" alt="TEL icon"></i><span class="tel_link">03-1234-5678</span></p>
					<p class="is-sp"><span class="tel_link"><img src="<%= path(); %>assets/images/common/icon_tel.png" alt="03-1234-5678"></span></p>
				</div>
				<div class="navToggle" id="js-navTrigger">
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</div>
		<!-- /.header__gnav -->
	</div>
</header>
<!-- ========= / header END ========= -->