<!DOCTYPE html>
<html lang="ja">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<title><%= jsonData.pageDate[pageDateIndex].title %></title>
<meta name="keywords" content="<%= jsonData.pageDate[pageDateIndex].keywords %>">
<meta name="description" content="<%= jsonData.pageDate[pageDateIndex].description %>">

<link rel="apple-touch-icon" sizes="180x180" href="<%= path(); %>assets/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="<%= path(); %>assets/images/favicons/icon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="<%= path(); %>assets/images/favicons/icon-16x16.png" sizes="16x16">

<%_if (pageDateIndex === 0) { _%>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css" integrity="sha512-UBY4KATrDAEKgEEU+RAfY4yWrK0ah43NGwNr5o/xmncxsT+rv8jp7MI3a00I0Ep3NbAx05U5kw3DvyNCoz+Wcw==" crossorigin="anonymous" />
<%_ } _%>

<link href="<%= path(); %>assets/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body class="<%= jsonData.pageDate[pageDateIndex].pageID %>">
