.business {
  .lower__main {
    margin-top: -7rem;
    padding-top: 0;

    @include mq-down(sm) {
      margin-top: 0;
    }
  }

  &__intro {
    padding: 12rem 0 90rem;
    background: printUrl("business/intro_img.jpg") no-repeat bottom center /
      cover;

    .title {
      text-align: center;
      @include fzrem(60);

      span {
        display: block;
        margin-top: 2rem;
        @include fzrem(24);
        color: $cl-blc;
      }
    }

    .letter {
      text-align: center;
      @include get_line-height(15, 36);
    }

    @include mq-down(sm) {
      padding: calcvw(40) 0 calcvw(200);
      background: #bfe8fe printUrl("business/intro_img_sp.jpg") no-repeat bottom
        center / 100%;

      .title {
        @include fvw(20);

        span {
          @include fvw(10);
        }
      }

      .letter {
        text-align: left;
        @include get_line-height(15, 30);
      }
    }
  }

  &__flow {
    padding: 10rem 0 0;

    .letter {
      text-align: center;
      @include get_line-height(15, 36);
    }

    &_table {
      margin-top: 10rem;
      padding: 10rem 0;
      background-color: #f1f1f1;
    }

    @include mq-down(sm) {
      padding: calcvw(40) 0;

      &_table {
        table {
          tbody {
            tr {
              td {
                &::before {
                  display: block;
                  margin-bottom: 2rem;
                  padding: 2vw;
                  background-color: #48595b;
                  color: #fff;
                }

                &:nth-of-type(1) {
                  &::before {
                    content: "流れ";
                  }
                }
                &:nth-of-type(2) {
                  &::before {
                    content: "行程";
                  }
                }
                &:nth-of-type(3) {
                  &::before {
                    content: "サポート";
                  }
                }
              }
            }
          }
        }
      }

      .letter {
        text-align: left;
        @include get_line-height(15, 30);
      }
    }
  }

  &__about {
    padding: 10rem 0 7.5rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: get_per(420, 670);
      background-color: $cl-wht;
    }
  }
}
