.contact {
  &__intro {
    p {
      @include get_line-height(15, 36);
    }
  }

  &__form {
    padding-bottom: 10rem;

    .btn-02 {
      input{
        display: block;
        width: 400px;
        margin: 0 auto;
        transition: opacity .3s;

        &:hover {
          opacity: .7;
        }
      }
    }


  }
}