/* Container -----------------*/
.content_wrapper,
.content_wrapper_max,
.content_wrapper_min {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
  @include mq-down(md) {
    width: 94%;
  }
}

.content_wrapper {
  max-width: $base-width;
}
.content_wrapper_max {
  max-width: $max-width;
}
.content_wrapper_min {
  max-width: $min-width;
}
