.lowerkv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 450px;
  background: printUrl('common/lower_keyvisual.jpg') no-repeat center center / cover;

  h2 {
    padding-top: 148px;
    @include fzrem(48);
    color: $cl-wht;
    text-align: center;
  }

  @include mq-down(sm){
    height: 48vw;

    h2 {
      padding-top: 48px;
      @include fvw(34);
    }
  }
}