/*-------bread--------*/
.bread {
  position: relative;
  transform: translateY(-50%);

  &::before{
    display: block;
    content: '';
    width: calc(100% - (50% + 420px));
    height: 100%;
    background-color: $cl-blc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

  a {
    color: $cl-wht;
    @include fzrem(12);
  }

  &__home {
    position: relative;

    &::after {
      content: '>';
      margin: 0 .5rem;
      color: $cl-wht;
    }
  }

  &__inner {
    align-items: center;
    background-color: $cl-blc;
    padding: 2.3rem 0;
  }

  &__crumb {
    li {
      color: $cl-wht;
      max-width: 400px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include fzrem(12);

      &:not(:last-child) {
        &::after {
          content: '>';
          margin: 0 .5rem;
          color: $cl-wht;
        }
      }
    }
  }
  @include mq-down(md) {
    display: none;
  }
}
