.card {

  a {
    display: block;

    &:hover {
      opacity: 1;

      .moreshow {
        opacity: 1;
      }
    }
  }

  &__pict {
    position: relative;
    display: block;
    margin-bottom: 2rem;

    .moreshow {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: rgba($cl-blc, 0.5);
      transition: opacity 0.4s;
      cursor: pointer;

      p {
        padding: 0.5rem 1rem;
        @include fzrem(14) color: $cl-wht;
        border: 1px solid $cl-wht;
      }
    }

    img {
      width: 100%;
    }
  }

  &__text {
    @include fzrem(16);
    color: $cl-blc;

    span {
      display: block;
      margin-bottom: .5rem;
      @include fzrem(10);
    }
  }
}