.newslist {

    &__item {
      width: 100%;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      .date {
        width: get_per(100, 600);
        @include fzrem(15);
      }

      .title {
        overflow: hidden;
        width: get_per(486, 600);
        text-overflow: ellipsis;

        a {
          @include fzrem(15);
          color: $cl-blc;
          white-space: nowrap;
        }
      }

      @include mq-down(sm) {
        .date {
          width: 100%;
          @include fvw(14);
        }

        .title {
          width: 100%;

          a {
            @include fvw(14);
          }
        }
      }
    }
}
