.single {
  /* header */
  &__header {
    &-ttl {
      @include fzrem(30);
      @include get_line-height(30, 50);
      font-weight: 700;
      @include mq-down(sm) {
        @include fvw(20);
      }
    }
    &-meta {
      .__date {
        border-right: 1px solid $main-color;
        padding-right: 20px;
        margin-right: 20px;
        font-weight: 500;
        i {
          margin-right: 5px;
        }
      }
      .__cat {
        > span {
          @include fzrem(14);
          display: inline-block;
          &:not(:last-child) {
            &::after {
              content: "/";
              margin-left: 5px;
            }
          }
          a {
            color: inherit;
            &:hover {
              color: $main-color;
            }
          }
        }
        i {
          margin-right: 0;
        }
      }
      @include mq-down(sm) {
        display: block;
        .__date {
          border-right: none;
          padding-right: 0;
          margin-right: 0;
          margin-bottom: calcvw(5);
        }
        .__cat {
          > span {
            @include fvw(13);
          }
        }
      }
    }
  }
  /* contents */
  &__contents {
    margin-bottom: calcrem(100);
    @include get_line-height(16, 38);
    &-thumbnail {
      text-align: center;
    }
    //wordpress editer
    &-body {
      /* p tag */
      p {
        @include p;
      }
      /* heading */
      h2 {
        @include heading_02;
        margin: calcrem(60) 0 calcrem(20);
        @include mq-down(sm) {
          margin: calcvw(60 / 1.4) 0 calcvw(20 / 1.4);
        }
      }
      h3 {
        @include heading_03;
        margin: calcrem(50) 0 calcrem(20);
        @include mq-down(sm) {
          margin: calcvw(50 / 1.4) 0 calcvw(20 / 1.4);
        }
      }
      h4 {
        @include heading_04;
        margin: calcrem(40) 0 calcrem(20);
        @include mq-down(sm) {
          margin: calcvw(40 / 1.4) 0 calcvw(20 / 1.4);
        }
      }
      h5 {
        @include heading_05;
        margin: calcrem(30) 0 calcrem(20);
        @include mq-down(sm) {
          margin: calcvw(30 / 1.4) 0 calcvw(20 / 1.4);
        }
      }
      h6 {
        @include heading_06;
        margin: calcrem(30) 0 calcrem(8);
        @include mq-down(sm) {
          margin: calcvw(30 / 1.4) 0 calcvw(8 / 1.4);
        }
      }
      /* hr */
      hr {
        @include hr;
      }
      /* blockquote */
      blockquote {
        @include blockquote;
        margin: 30px 0;
        @include mq-down(sm) {
          margin: 15px 0;
        }
      }
      /* ul */
      ul {
        @include ul;
        margin: 30px 0;
        @include mq-down(sm) {
          margin: 15px 0;
        }
      }
      /* ol */
      ol {
        @include ol;
        margin: 30px 0;
        @include mq-down(sm) {
          margin: 15px 0;
        }
      }
      /* table */
      table {
        @include table;
        width: 100%;
        margin: 30px 0;
        @include mq-down(sm) {
          margin: 15px 0;
        }
      }
    }
    @include mq-down(lg) {
      margin-bottom: 100px;
    }
    @include mq-down(sm) {
      margin-bottom: 50px;
      &-body {
        p {
          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }
  /* pagination */
  &__pagination {
    padding: calcrem(30) 0 calcrem(100);
    &-unit {
      position: relative;
      a {
        color: inherit;
        font-weight: 500;
        text-transform: uppercase;
        opacity: 1;
        @include trans(0.3s);
        &:hover {
          color: $main-color;
        }
      }
      //other
      &.__prev,
      &.__next {
        a {
          &::before {
            content: "";
            width: 12px;
            height: 12px;
            border-top: 3px solid $base-color;
            border-right: 3px solid $base-color;
            position: absolute;
            top: calcrem(2);
            @include trans(0.3s);
          }
          &:hover {
            &::before {
              border-top-color: $main-color;
              border-right-color: $main-color;
            }
          }
        }
      }
      &.__prev {
        a {
          padding-left: calcrem(30);
          &::before {
            transform: rotate(-135deg);
            left: 0;
          }
          &:hover {
            &::before {
              left: calcrem(10);
            }
          }
        }
      }
      &.__next {
        a {
          padding-right: calcrem(30);
          &::before {
            transform: rotate(45deg);
            right: 0;
          }
          &:hover {
            &::before {
              right: calcrem(10);
            }
          }
        }
      }
      &.__back {
        i {
          margin-right: calcrem(15);
        }
      }
    }
    @include mq-down(sm) {
      padding: calcvw(30 / 2) 0 calcvw(100 / 2);
      &-unit {
        //other
        &.__prev,
        &.__next {
          a {
            &::before {
              width: calcvw(6);
              height: calcvw(6);
              border-top-width: 1px;
              border-right-width: 1px;
              top: calcvw(4);
            }
          }
        }
        &.__prev {
          a {
            padding-left: calcvw(15);
          }
        }
        &.__next {
          a {
            padding-right: calcvw(15);
          }
        }
        &.__back {
          i {
            margin-right: calcvw(10);
          }
        }
      }
    }
  }
}
