.title {
  &-01 {
    position: relative;
    @include fzrem(36);
    font-weight: 600;
    @include get_line-height(36, 60);
    text-align: center;
    text-indent: 0.1em;

    @include mq-down(sm) {
      @include fvw(20);
    }
  }
}
