//----------------------------------------------
// breakpoints
// @include mq-up();
// @include mq-down();
//----------------------------------------------
$breakpoints: (
  xs: $contents-width-xs,
  sm: $contents-width-sm,
  md: $contents-width-md,
  lg: $contents-width-lg,
  xl: $contents-width-xl,
) !default;

// @mixinの定義
@mixin mq-up($breakpoint) {
  @media only screen and ( min-width: #{map-get($breakpoints, $breakpoint)} ) {
    @content;
  }
}

@mixin mq-down($breakpoint) {
  @media only screen and ( max-width: #{map-get($breakpoints, $breakpoint) - 1px} ) {
    @content;
  }
}

@mixin mq-only($breakpoint1, $breakpoint2) {
  $size1: null;
  $size2: null;
  @each $bp, $size in $breakpoints {
    @if ($bp == $breakpoint1) {
      $size1: $size;
    }
    @if ($bp == $breakpoint2) {
      $size2: $size;
    }
  }
  @if ($size1 <= $size2) {
    @media ( min-width: #{map-get($breakpoints, $breakpoint1)} ) and ( max-width: #{map-get($breakpoints, $breakpoint2)} ) {
      @content;
    }
  } @else {
    @media ( min-width: #{map-get($breakpoints, $breakpoint2)} ) and ( max-width: #{map-get($breakpoints, $breakpoint1)} ) {
      @content;
    }
  }
}

// min-width
$breakpoint-up: (
  "xs": "screen and (min-width:" $contents-width-xs ")",
  "sm": "screen and (min-width:" $contents-width-sm ")",
  "md": "screen and (min-width:" $contents-width-md ")",
  "lg": "screen and (min-width:" $contents-width-lg ")",
  "xl": "screen and (min-width:" $contents-width-xl ")",
) !default;
// max-width
$breakpoint-down: (
  "xs": "screen and (max-width: #{$contents-width-xs - 1px})",
  "sm": "screen and (max-width: #{$contents-width-sm - 1px})",
  "md": "screen and (max-width: #{$contents-width-md - 1px})",
  "lg": "screen and (max-width: #{$contents-width-lg - 1px})",
  "xl": "screen and (max-width: #{$contents-width-xl - 1px})",
) !default;
//レスポンシブ対応のクラスを生成する@mixin
@mixin responsive($class, $bp: $breakpoint-up) {
  #{$class} {
    @content;
  }
  @each $suffix, $value in $bp {
    @media #{$value} {
      #{$class}-#{$suffix} {
        @content;
      }
    }
  }
}
//レスポンシブ対応のクラスを生成する@mixin（レスポンシブ用のclassのみ生成）
@mixin responsive_only($class, $bp: $breakpoint-up) {
  @each $suffix, $value in $bp {
    @media #{$value} {
      #{$class}-#{$suffix} {
        @content;
      }
    }
  }
}

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}


// ----
// * vw変換
//   width: calcvw(200)
$sp-design-width: 375; // SPデザインの幅を設定
@function calcvw($num, $width: $sp-design-width) {
  @return (1vw * $num / $width * 100);
}

// ----
// * rem変換
//   width: calcrem(200)
@function calcrem($size: 24, $base: 16) {
  @return (($size / ($base * 0.625)) + rem);
}

//----------------------------------------------
// font-style
// @include font-size();
//----------------------------------------------
@mixin font-size($size) {
  font-size: $size + px;
  font-size: ($size / $base-font-size) + rem;
}

// ----
// * font-size rem変換
//   @include fzrem(200)
@mixin fzrem($size: 24, $base: $base-font-size) {
  font-size: $size + px;
  font-size: ($size / ($base * 0.625)) + rem;
}

// ----
// * font-size vw変換
//   @include fvw(200)
@mixin fvw($size){
  $winW : 375;
  font-size: ($size / $winW) * 100 + vw;
}

// ----
// * %変換
//   width: get_per(200, 100)
@function get_per($self, $parent) {
  @return $self / $parent * 100%;
}


// letterspacing
//  @include get_letter_spacing(100);
@mixin get_letter_spacing($size) {
  letter-spacing: $size / 1000 * 1em;
}

// lineheight
//  @include get_line-height(16, 36);
@mixin get_line-height($font, $lh) {
  line-height: $lh / $font;
}

// lineheight Crop
// @include trim_top-lh(1.66667);
@mixin trim_top-lh($line-height) {
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}


//----------------------------------------------
// wordpress editer style
//----------------------------------------------
/* p tag */
@mixin p {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* heading */
//heading_01
@mixin heading_01 {
  &-en {
    @include font-size(48);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
  }
  &-jp {
    @include font-size(18);
    font-weight: 700;
    line-height: 1.6;
  }
  @include mq-down(sm) {
    &-en {
      @include fvw(48);
    }
    &-jp {
      @include font-size(18 / 1.4);
    }
  }
}
//heading_02
@mixin heading_02 {
  @include font-size(36);
  font-weight: 500;
  line-height: 1.4;
  @include mq-down(sm) {
    @include fvw(18);
  }
}
//heading_03
@mixin heading_03 {
  @include font-size(30);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  padding: 12px 12px 14px 30px;
  border-bottom: 2px solid $cl-gry;
  position: relative;
  &::before {
    content: "";
    width: 6px;
    height: 100%;
    background: $cl-blu;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(0, 2px);
  }
  @include mq-down(sm) {
    @include fvw(17);
    padding: 12px 12px 14px 20px;
  }
}
//heading_04
@mixin heading_04 {
  @include font-size(30);
  font-weight: 700;
  line-height: 1.6;
  border-bottom: 2px solid $cl-blc;
  padding: 0 0 15px;
  @include mq-down(sm) {
    @include fvw(17);
  }
}
//heading_05
@mixin heading_05 {
  @include font-size(30);
  font-weight: 700;
  line-height: 1.6;
  padding: 0 0 2px 30px;
  position: relative;
  &::before,
  &::after {
    content: "";
    width: 4px;
    height: calc(100% / 2);
    background-color: $main-color;
    position: absolute;
    left: 0;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
    background-color: $cl-aqu;
  }
  @include mq-down(sm) {
    @include fvw(17);
    padding-left: 20px;
  }
}
//heading_06
@mixin heading_06 {
  @include font-size(30);
  font-weight: 700;
  line-height: 1.6;
  color: $main-color;
  @include mq-down(sm) {
    @include fvw(17);
  }
}
//heading_07
@mixin heading_07 {
  position: relative;
  padding: 20px 0 0 0;
  &::before {
    content: "";
    width: 80px;
    height: 2px;
    background-color: $cl-aqu;
    position: absolute;
    top: 0;
    left: 0;
  }
  &-jp {
    @include font-size(30);
    font-weight: 500;
    line-height: 1.6;
  }
  &-en {
    @include font-size(15);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0 0 4px 20px;
  }
  @include mq-down(sm) {
    &::before {
      width: calc(80px / 2);
    }
    &-jp {
      @include font-size(30 / 1.4);
    }
    &-en {
      @include font-size(15 / 1.4);
      margin-left: 15px;
    }
  }
}

/* hr */
@mixin hr {
  border-color: $base-color;
  margin: 40px auto;
  @include mq-down(sm) {
    margin: 20px auto;
  }
}

/* blockquote */
@mixin blockquote {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
  padding: 30px 50px 30px 100px;
  position: relative;
  border-radius: 8px;
  &::before {
    content: "“";
    @include font-size(100);
    line-height: 1;
    position: absolute;
    top: 20px;
    left: 30px;
    color: $main-color;
  }
  @include mq-down(sm) {
    padding: 20px 20px 20px 60px;
    &::before {
      @include font-size(70);
      top: 15px;
      left: 15px;
    }
  }
}

/* ul */
@mixin ul {
  li {
    position: relative;
    padding-left: 25px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $base-color;
      border-right: 2px solid $base-color;
      transform: rotate(45deg);
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
  @include mq-down(sm) {
    li {
      padding-left: 20px;
      &::before {
        width: 8px;
        height: 8px;
        top: 9px;
      }
    }
  }
}

/* ol */
@mixin ol {
  counter-reset: ol_li;
  li {
    position: relative;
    padding-left: 35px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    &::before {
      counter-increment: ol_li;
      content: counter(ol_li, decimal-leading-zero) ".";
      color: $main-color;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  @include mq-down(sm) {
    li {
      padding-left: 25px;
    }
  }
}

/* table */
@mixin table {
  th,
  td {
    border: 1px solid $cl-gry;
    padding: 10px;
  }
  th {
    text-align: center;
    font-weight: 700;
    color: $main-color;
    background-color: $cl-lgry;
    width: 30%;
  }
  td {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include mq-down(sm) {
    th,
    td {
      padding: 5px 10px;
      @include font-size(11);
    }
    th {
      width: 30%;
    }
  }
}



//----------------------------------------------
// scalex
// @include scalex();
//----------------------------------------------
@mixin scalex($scalex) {
  -webkit-transform: scaleX($scalex);
  -moz-transform: scaleX($scalex);
  -ms-transform: scaleX($scalex);
  transform: scaleX($scalex);
}

//----------------------------------------------
// translate（）
// @include translate();
//----------------------------------------------
@mixin translate($direction, $translate) {
  transform: translate$direction($translate);
}

//----------------------------------------------
// animation（回転）
// @include rotate();
//----------------------------------------------
@mixin rotate($rotate) {
  -webkit-transform: rotate($rotate + deg);
  -moz-transform: rotate($rotate + deg);
  -ms-transform: rotate($rotate + deg);
  -o-transform: rotate($rotate + deg);
  transform: rotate($rotate + deg);
}

//----------------------------------------------
// animation
// @include trans();
//----------------------------------------------
@mixin trans($trans) {
  -webkit-transition: $trans ease-in-out;
  -moz-transition: $trans ease-in-out;
  -ms-transition: $trans ease-in-out;
  -o-transition: $trans ease-in-out;
  transition: $trans ease-in-out;
}

//----------------------------------------------
// hover
// 違う動きをさせたい時は　@include hover();
// opacityが不要な時は　@include hover(false);
//----------------------------------------------
@mixin hover($flag: true) {
  @include mq-down(md) {
    transition: 0.3s;
    &:hover {
      transition: 0.3s;
      @if $flag == true {
        opacity: 0.7;
      }
      @content;
    }
  }
}

//----------------------------------------------
// center
// 親要素に対して中央寄せ
// @include center();
// 親要素：position: relative;
//----------------------------------------------
@mixin center($direction) {
  position: absolute;
  @if $direction==xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if $direction==x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $direction==y {
    top: 50%;
    transform: translateY(-50%);
  }
}

//----------------------------------------------
// counter-increment
// 自動で連番を付与できるcounter-incrementのmixin
// 親要素：counter-reset
//----------------------------------------------
@mixin counter($numName, $beforeText, $afterText) {
  content: "#{$beforeText}"counter(num_ + $numName)"#{$afterText}";
  counter-increment: num_ + $numName;
}

//----------------------------------------------
// icon
// 疑似要素でアイコン
//----------------------------------------------
@mixin icon($fileName, $width, $height) {
  background: url($path_img + $fileName) no-repeat 50% 50%;
  background-size: $width $height;
  width: $width;
  height: $height;
}

//----------------------------------------------
// triangle
// 擬似要素で三角形
// @include triangle();
//----------------------------------------------
@mixin triangle($direction, $width, $height, $color) {
  width: 0;
  height: 0;
  border-style: solid;
  $valWidth: $width / 2;
  $valHeight: $height / 2;
  @if ($direction == top) {
    border-width: 0 $valWidth $height $valWidth;
    border-color: transparent transparent $color transparent;
  } @else if ($direction == left) {
    border-width: $valHeight $width $valHeight 0;
    border-color: transparent $color transparent transparent;
  } @else if ($direction == right) {
    border-width: $valHeight 0 $valHeight $width;
    border-color: transparent transparent transparent $color;
  } @else if ($direction == bottom) {
    border-width: $height $valWidth 0 $valWidth;
    border-color: $color transparent transparent transparent;
  }
}







// ------------------------------ 関数
// printUrl("flow/arrow.png")
@function printUrl($fileName) {
  @return url($imagesPath + $fileName);
}
