/* background-color */
.bg-wht{ background: $cl-wht!important;}
.bg-blc{ background: $cl-blc!important;}
.bg-beg{ background: $cl-beg!important;}
.bg-aqu{ background: $cl-aqu!important;}
.bg-blu{ background: $cl-blu!important;}
.bg-org{ background: $cl-org!important;}
.bg-nvy{ background: $cl-nvy!important;}

.bg-gry{ background: $cl-gry!important;}
.bg-lgry{ background: $cl-lgry!important;}
.bg-lorg{ background: $cl-lorg!important;}

/* background-color（gradation） */
.bg-grad-org{
	background: -moz-linear-gradient(left, $main-color, $cl-yel 80%);
	background: -webkit-linear-gradient(left, $main-color, $cl-yel 80%);
	background: linear-gradient(to right, $main-color, $cl-yel  80%);
}

/* background-color（pattern） */
.bg-ptn-01{
    position: relative;
    &::after{
        content: '';
        width: calc(100% - 300px);
        height: 100%;
        background-color: $cl-beg;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }
    @include mq-down(md){
        &::after{
            width: calc(100% - 40px);
        }
    }
}