/* flex */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;

  &.fl-row {
    flex-direction: row-reverse;
  }
  &.jc-cen {
    justify-content: center;
  }
  &.jc-bet {
    justify-content: space-between;
  }
  &.jc-ar {
    justify-content: space-around;
  }
  &.jc-end {
    justify-content: flex-end;
  }
  &.ai-cen {
    align-items: center;
  }
  &.ai-end {
    align-items: flex-end;
  }
}
